* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
  }
  body{
      background-image: url('assets/backimg-3e3ecc10.png');
      user-select: none;
  }
  nav{
      background-image: url('assets/backimg-3e3ecc10.png');
  }
  #dropdown{
    background-image: url("assets/backimg-3e3ecc10.png");
  }
  .content {
      color: #f1f1f1;
      width: 100%;
  }
  .searchbar-container input{
      border: 1px solid rgb(175, 175, 95);
  }
  .logo-container h3{
      font-family: cursive;
      color: white;
      text-shadow: #ff00fb 2px 0 10px;
  }
  .searchbar-container{
      position: relative;
  }
  
  /* .searchbar-container .cross{
      display: none;
      transition: all 0.2s ease;
  } */
  .caousel{
      height: 80vh;
  }
  #home .slider .card{
    background-image: url("assets/ff-c4329867.gif");
  }
  
  #collection{
      background-image: url('assets/bg_main-4dd257a1.png');
      background-size: cover;
      width: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }
  #collection .latest h3{
      font-family: cursive;
      color: white;
      text-shadow:  1px 1px 2px red, 0 0 1em rgb(194, 0, 0), 0 0 0.2em rgb(255, 0, 0);
  }
  #collection .container img{
      width: 100%;
      height: 100%;
      transition: all 0.5s ease;
  }
  #collection .container img:hover{
      -webkit-box-shadow: 0px 0px 53px 2px rgba(201,201,0,1);
  -moz-box-shadow: 0px 0px 53px 2px rgba(201,201,0,1);
  box-shadow: 0px 0px 53px 2px rgba(201,201,0,1);
      transform: scale(0.95);
  }
  #collection button{
      position: absolute;
      padding: 0px 2px;
      text-align: center;
      z-index: 9;
      transition: all 0.2s ease;
  }
  #collection #right:hover{
      transform: translateX(2px);
  }
  #collection #left:hover{
      
      transform: translateX(-2px);
  }
  #collection .top_stories h3{
      font-family: cursive;
      color: white;
      text-shadow:  1px 1px 2px rgb(255, 72, 0), 0 0 1em rgb(140, 247, 0), 0 0 0.2em rgb(255, 136, 0);
  }
  #collection .upcoming h3{
      font-family: cursive;
      color: white;
      text-shadow:  1px 1px 2px rgba(0, 194, 162, 0.829), 0 0 1em rgb(0, 231, 247), 0 0 0.2em rgb(255, 102, 0);
  }
  #collection .container .view_more:hover i{
      transform: translateX(3px);
  }
  #feedback .left-content h3{
      font-family: cursive;
      color: white;
      text-shadow: rgb(0, 247, 33) 1px 0 10px;
  }